@page "/"
@using Mhazami.BlazorComponents.Components
@using Mhazami.BlazorComponents.Models

<h1>German Date Picker</h1>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Date Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Date" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Date Time Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.DateTime" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Time Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Time" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Month Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Month" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Day of week Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Day" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Year" />
</div>