

<style>
    @@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
</style>


<button class="buttonload @CssClass" disabled="@EnableLoading" @onclick="CallClick">
    @if (EnableLoading)
    {
        <i class="fa fa-spinner fa-spin"></i>
    }
    @Text
</button>