





<label class="mh-switch @CssClass" id="@Id">
    <input type="checkbox" checked="@Value" @onchange="OnChangeCheck">
    <span class="slider @(Style==SwitchShape.circle?"round":"")"></span>
</label>
